.heading
{
    font-size: 16px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 3px black;
    margin-top: 250px;
    margin: 50px;
}

.play_button
{
    width: 130px;
    font-size: 25px;
}